<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="header">
        <h1>USER Dashboard</h1>
    </div>
    <div class="dashboard-container">
        <h2>Welcome, [[${user.getFullname()}]]</h2>
        <span sec:authorize="isAuthenticated">
            <a th:href="@{/logout}">Logout</a>
        </span>
    </div>
</body>
</html>
